* {
    margin: 0;
}

nav {
    background-color: rgb(0, 0, 0);
    height: 50px;

}

ul {
    list-style: none;
    padding-top: 15px;
}

li {
    display: inline;
    padding: 30px;
    padding-left: 150px;
    padding-top: 10px;
}

li a {
    color: rgb(255, 255, 255);
}
a{
    padding-left: 100px;
}




article {
    background-color: lightblue;
    height: 300px;
    padding: 150px;
}

section {
    background-color: rgb(162, 231, 162);
    height: 200px;
    padding: 150px;
    
}

.b{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 30px;
    background-color: wheat;
}
#div{
    text-align: center;
    background-color: wheat;
    height: 300px;
    
}
.c{
    padding-left: 5px;
    
}
.d{
    padding-right: 20px;
}
.e{
    padding-left: 40px;
}
.div2{
    padding-top: 20px;
}